*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: url("image/tableBG.jpg");
    /*Photo by Element5 Digital from Pexels*/
    background-size: cover;
    display: grid;
    align-content: center;
    justify-content: center;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    text-align: center;
    padding: 20px;
    gap: 10px;
}

/*tic tac toe boxes*/
.boxes{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    padding: 10px;
    background-color: rgb(48, 26, 13);
    border: 3px solid rgb(48, 26, 13);
    grid-gap: 10px;
}

.boxes div{
    background-color: rgb(198, 250, 215);
    padding: 32px;
    font-size: 115px;
    color: black;

}

.startOver{
    display: grid;
    width: 75px;
    border-radius: 50%;
    outline: none;
    justify-self: center;
    background-color: rgb(198, 250, 215);
}